@font-face {
    font-family: "Gilroy-ExtraBold";
    src: url("fonts/Gilroy/Gilroy-ExtraBold.otf");
}

@font-face {
    font-family: "Gilroy-Light";
    src: url("fonts/Gilroy/Gilroy-Light.otf");
}

* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #030328;
    font-family: 'Gilroy-Light';
    height: 100vh;

    
}

body, a {
    color:#fff;
}

a {
    text-decoration: none;
    font-family: 'Gilroy-ExtraBold';
}

#apresentacao {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    justify-content: space-between;

}

#barra-de-navegacao {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    background-color: #000;
}

#menu {
    display: flex;
    align-items: center;
}

#menu>a {
    padding: 10px 26px;
    font-size: 0,75rem;
    letter-spacing: 0.1em;
    text-align: center;
}

.chamda-para-acao {
    background-color: #8441f3;
    border-radius: 40px;
    display: block;
}

#chamada {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

#promocional {
    max-width: 400px;
}

#promocional>img {
    max-width: 100%;
} 

#acao {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 300px;
    padding-bottom: 20px;
}

#acao>a{
    padding: 10px 0px 10px 0px;
    letter-spacing: 0,1em;
    text-align: center;
    width: 220px;
    align-self: center;
}

#acao>p{
    font-size: 0.9em;
    text-align: center;
}

#apresentacao>video {
    z-index: -1000;
    position: absolute;
    height: 100vh;
    width: 100%;
    object-fit: cover;
}